/*Default
*/
html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

h1, p {
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    background-image: url(img/bgImg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: -37px;
    z-index: -1;
}

/*Opening Wrap
*/
.openingWrap {
    position: relative;
    width: 68%;
    height: 90%;
    top: 5%;
    left: 16%;
}

/*Title Wrap
*/
.titleWrap {
    position: relative;
    width: 50%;
    height: 70%;
    top: 17%;
}

.hangman {
    position: absolute;
    width: 70%;
    height: 30%;
    font-size: 70px;
    top: 20%;
    left: 20%;
    text-align: center;
}

.game {
    position: absolute;
    width: 70%;
    height: 30%;
    font-size: 70px;
    bottom: 30%;
    left: 20%;
    text-align: center;
}

.wordInput {
    position: absolute;
    width: 60%;
    height: 10%;
    bottom: 17%;
    left: 25%;
    font-size: 30px;
    text-align: center;
    letter-spacing: 5px;
    background-color: transparent;
    border: 0;
    border-bottom: solid 5px black;
}

.wordInput::placeholder {
    letter-spacing: normal;
}

.wordInput:focus {
    outline: none;
}

/*Hangman Image
*/
.hangmanImg {
    position: absolute;
    width: 300px;
    height: 450px;
    top: 20%;
    right: 10%;
    background-image: url(img/hangman.png);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.hangmanImg2 {
    position: absolute;
    width: 300px;
    height: 450px;
    top: 20%;
    right: 10%;
    background-image: url(img/hangman2.png);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

/*JavaScript Settings
*/
.openingWrap,
.hangmanImg,
.hangmanImg2 {
    display: none;
}

.showing {
    display: block;
}
