/*Default
*/
html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

h1, p {
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    background-image: url(img/bgImg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: -37px;
    z-index: -1;
}

/*Opening Wrap
*/
.openingWrap {
    position: relative;
    width: 68%;
    height: 90%;
    top: 5%;
    left: 16%;
}

/*Title Wrap
*/
.titleWrap {
    position: relative;
    width: 50%;
    height: 70%;
    top: 17%;
}

.hangman {
    position: absolute;
    width: 70%;
    height: 30%;
    font-size: 70px;
    top: 20%;
    left: 20%;
    text-align: center;
}

.game {
    position: absolute;
    width: 70%;
    height: 30%;
    font-size: 70px;
    bottom: 30%;
    left: 20%;
    text-align: center;
}

.wordInput {
    position: absolute;
    width: 60%;
    height: 10%;
    bottom: 17%;
    left: 25%;
    font-size: 30px;
    text-align: center;
    letter-spacing: 5px;
    background-color: transparent;
    border: 0;
    border-bottom: solid 5px black;
}

.wordInput::placeholder {
    letter-spacing: normal;
}

.wordInput:focus {
    outline: none;
}

/*Hangman Image
*/
.hangmanImg {
    position: absolute;
    width: 300px;
    height: 450px;
    top: 20%;
    right: 10%;
    background-image: url(img/hangman.png);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.hangmanImg2 {
    position: absolute;
    width: 300px;
    height: 450px;
    top: 20%;
    right: 10%;
    background-image: url(img/hangman2.png);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

/*Main Wrap
*/
.mainWrap {
    position: relative;
    width: 68%;
    height: 90%;
    top: 5%;
    left: 16%;
}

/*Submit Wrap
*/
.submitWrap {
    position: absolute;
    width: 45%;
    height: 100%;
    left: 5%;
    top: 0;
}

.showStatus {
    position: absolute;
    width: 100%;
    height: 20%;
    left: 0;
    top: 25%;
}

.blank {
    position: absolute;
    width: 100%;
    height: 64px;
    top: 50%;
    margin-top: -32px;
    text-align: center;
    font-size: 50px;
    letter-spacing: 7px;
}

.submitInput {
    position: absolute;
    width: 68%;
    height: 7%;
    bottom: 25%;
    left: 16%;
    font-size: 30px;
    text-align: center;
    letter-spacing: 5px;
    background-color: transparent;
    border: 0;
    border-bottom: solid 5px black;
}

.submitInput::placeholder {
    letter-spacing: normal;
}

.submitInput:focus {
    outline: none;
}

/*Hangman Wrap
*/
.hangmanWrap {
    position: absolute;
    width: 48%;
    height: 100%;
    right: 0;
    top: 0;
}

.hang1 {
    position: absolute;
    width: 300px;
    height: 5px;
    margin-top: 480px;
    margin-left: 105px;
    background-image: url(img/hang1.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.hang2 {
    position: absolute;
    width: 5px;
    height: 500px;
    margin-top: 45px;
    margin-left: 315px;
    background-image: url(img/hang2.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.hang3 {
    position: absolute;
    width: 137px;
    height: 5px;
    margin-top: 45px;
    margin-left: 183px;
    background-image: url(img/hang3.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.hang4 {
    position: absolute;
    width: 5px;
    height: 68px;
    margin-top: 47px;
    margin-left: 185px;
    background-image: url(img/hang4.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.head {
    position: absolute;
    width: 110px;
    height: 100px;
    margin-top: 110px;
    margin-left: 138px;
    background-image: url(img/head.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.body {
    position: absolute;
    width: 5px;
    height: 165px;
    margin-top: 207px;
    margin-left: 186px;
    background-image: url(img/body.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.leftLeg {
    position: absolute;
    width: 58px;
    height: 70px;
    margin-top: 368px;
    margin-left: 138px;
    background-image: url(img/leftLeg.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.rightLeg {
    position: absolute;
    width: 68px;
    height: 72px;
    margin-top: 366px;
    margin-left: 185px;
    background-image: url(img/rightLeg.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.leftArm {
    position: absolute;
    width: 65px;
    height: 72px;
    margin-top: 250px;
    margin-left: 125px;
    background-image: url(img/leftArm.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.rightArm {
    position: absolute;
    width: 68px;
    height: 74px;
    margin-top: 249px;
    margin-left: 185px;
    background-image: url(img/rightArm.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.gameOver {
    position: absolute;
    width: 70px;
    height: 36px;
    margin-top: 130px;
    margin-left: 153px;
}

.eyes {
    position: absolute;
    width: 100%;
    height: 36px;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.wrongWords {
    position: absolute;
    width: 100%;
    height: 20%;
    left: 0;
    top: 500px;
}

.wrongWord {
    position: absolute;
    width: 100%;
    height: 64px;
    top: 50%;
    margin-top: -32px;
    text-align: center;
    font-size: 50px;
    letter-spacing: 12px;
}

.congrats {
    position: absolute;
    width: 400px;
    height: 400px;
    left: 50%;
    top: 50%;
    margin-left: -180px;
    margin-top: -180px;
    font-size: 300px;
    text-align: center;
    transform: rotate(180deg);
}

/*JavaScript Settings
*/
.openingWrap,
.hangmanImg,
.hangmanImg2,
.mainWrap,
.submitInput,
.hang1,
.hang2,
.hang3,
.hang4,
.head,
.body,
.leftLeg,
.rightLeg,
.leftArm,
.rightArm,
.gameOver,
.congrats {
    display: none;
}

.showing {
    display: block;
}
